.footer {
    color: var(--color-text-primary);
    width: 100%;
    background-color: var(--color-bg-dark);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--space-lg);

    border-top: 1px solid var(--color-border-dark);
    padding: var(--space-md) var(--space-3xl);
    margin-top: var(--space-md);
}

.footerContent > div {
    flex: 1;
    min-width: 160px;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-sm);
}

.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerHeading {
    grid-column: 1 / -1;

    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
}

.rowHeader {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: var(--space-sm) var(--space-md);
}

.rowGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-md);
}

.socialIcon {
    display: flex;
    align-items: center;
    width: var(--space-xl);
    height: var(--space-xl);
    object-fit: contain;
}

.title {
    font-size: var(--font-size-main-title);
}

.description {
    font-size: var(--font-size-description);
    color: var(--color-text-secondary);
}

.contact {
    color: var(--color-text-primary);
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
}
